OAuth 2.1 Provider: Translate Human-Readable Client Metadata

### Is this suited for github?

- [x] Yes, this is suited for github

### Is your feature request related to a problem? Please describe.

[RFC 7591 Section 2.2 Human-Readable Client Metadata](https://datatracker.ietf.org/doc/html/rfc7591#section-2.2) describes how fields like client_name can be translated.

### Describe the solution you'd like

It would be great if the [OAuth 2.1 Provider](https://better-auth.com/docs/plugins/oauth-provider) (maybe in combination with the [i18n](https://better-auth.com/docs/plugins/i18n) Plugin) would support the described syntax to translate fields.

Example from the RFC:
```json
{
  "client_name#en": "My Client",
  "client_name#ja-Jpan-JP": "\u30AF\u30E9\u30A4\u30A2\u30F3\u30C8\u540D"
}
```

### Describe alternatives you've considered

_No response_

### Additional context

_No response_