[BUG] better-auth/react with @better-auth/expo/client useSession infinite refetch on multiple Set-Cookie headers

### Is this suited for github?

- [x] Yes, this is suited for github

### To Reproduce

1. Setup better auth with Expo and a Hono backend.
2. Make your backend return its own Set-Cookie header.
3. Use the useSession hook from the auth client
4. View network requests and see infinite refetching of useSession in dev and in prod until rate limit is hit

### Current vs. Expected behavior

Following the steps in the previous section i expect the better-auth/react useSession with the @better-auth/expo/client plugin hook to properly handle multiple Set-Cookie headers according to [RFC 6265 (Section 4.1, HTTP State Management Mechanism)](https://datatracker.ietf.org/doc/html/rfc6265)

I also noted that it seems like if useSession response includes any other set cookie header than the better auth one, it will get into this refetching loop.

### What version of Better Auth are you using?

1.3.11

### System info

```bash
{
    "system": {
      "platform": "darwin",
      "arch": "arm64",
      "version": "Darwin Kernel Version 25.0.0: Mon Aug 25 21:17:56 PDT 2025; root:xnu-12377.1.9~3/RELEASE_ARM64_T6030",
      "release": "25.0.0",
      "cpuCount": 11,
      "cpuModel": "Apple M3 Pro",
      "totalMemory": "36.00 GB",
      "freeMemory": "1.93 GB"
    },
    "node": {
      "version": "v22.13.1",
      "env": "development"
    },
    "packageManager": {
      "name": "bun",
      "version": "1.2.21"
    },
    "frameworks": null,
    "databases": null,
    "betterAuth": {
      "version": "^1.3.11",
      "config": {
        "appName": "redacted",
        "basePath": "/api/auth",
        "secret": "",
        "trustedOrigins": [
          "redacted://"
        ],
        "emailAndPassword": {
          "enabled": false
        },
        "plugins": [
          {
            "name": "phone-number",
            "config": {
              "id": "phone-number",
              "endpoints": {},
              "schema": {
                "user": {
                  "fields": {
                    "phoneNumber": {
                      "type": "string",
                      "required": false,
                      "unique": true,
                      "sortable": true,
                      "returned": true
                    },
                    "phoneNumberVerified": {
                      "type": "boolean",
                      "required": false,
                      "returned": true,
                      "input": false
                    }
                  }
                }
              },
              "rateLimit": [
                {
                  "window": 60000,
                  "max": 10
                }
              ],
              "$ERROR_CODES": {
                "INVALID_PHONE_NUMBER": "Invalid phone number",
                "PHONE_NUMBER_EXIST": "Phone number already exists",
                "INVALID_PHONE_NUMBER_OR_PASSWORD": "[REDACTED]",
                "UNEXPECTED_ERROR": "Unexpected error",
                "OTP_NOT_FOUND": "OTP not found",
                "OTP_EXPIRED": "OTP expired",
                "INVALID_OTP": "Invalid OTP",
                "PHONE_NUMBER_NOT_VERIFIED": "Phone number not verified"
              }
            }
          },
          {
            "name": "expo",
            "config": {
              "id": "expo",
              "hooks": {
                "after": [
                  {}
                ]
              }
            }
          },
          {
            "name": "open-api",
            "config": {
              "id": "open-api",
              "endpoints": {}
            }
          }
        ],
        "advanced": {
          "database": {},
          "cookiePrefix": "redacted"
        },
        "telemetry": {
          "enabled": false
        }
      }
    }
  }
```

### Which area(s) are affected? (Select all that apply)

Client

### Auth config (if applicable)

```typescript
Server:

betterAuth({
    appName: "redacted",
    basePath: "/api/auth",
    database: drizzleAdapter(databaseClient, {
        provider: "pg",
        schema: {
            user: databaseClient._.fullSchema.user,
            session: databaseClient._.fullSchema.session,
            account: databaseClient._.fullSchema.account,
            verification: databaseClient._.fullSchema.verification,
        },
    }),
    trustedOrigins: [
        "redacted://",
    ],
    emailAndPassword: {
        enabled: false,
    },
    plugins: [
        phoneNumber({
            async sendOTP({ phoneNumber, code }, _request) {
                if (process.env.NODE_ENV === "production") {
                    const twilioClient = twilio(
                        process.env.TWILIO_ACCOUNT_SID,
                        process.env.TWILIO_AUTH_TOKEN,
                    );

                    await twilioClient.messages.create({
                        body: `Your verification code is: ${code}`,
                        to: phoneNumber,
                        messagingServiceSid:
                            process.env.TWILIO_AUTH_MESSAGING_SERVICE_SID,
                    });
                } else {
                    console.log({ phoneNumber, code });
                }
            },
            signUpOnVerification: {
                getTempEmail: (phoneNumber) => `${phoneNumber}@redacted.com`,
                getTempName: (phoneNumber) => phoneNumber,
            },
        }),
        expo(),
        openAPI({
            disableDefaultReference: true,
        }),
    ],
    advanced: {
        database: {
            generateId: () => crypto.randomUUID(),
        },
        cookiePrefix: "redacted",
    },
    telemetry: {
        enabled: false,
    },
});

Client:

createAuthClient({
	baseURL: "redacted",
	basePath: "/api/auth",
	fetchOptions: {
		timeout: 3000,
	},
	plugins: [phoneNumberClient(), expoClient(options.expo)],
});
```

### Additional context

This was discovered when deploying to DigitalOcean App Platform that uses Cloudflare's bot protection services and sends a __cf_bm cookie. I have tried deploying to Azure Container Apps which are not behind Cloudflare's bot protection services and everything is working normally there. I have also tried locally with just a random set cookie header and it's causing the same issue.

What is the status on this @himself65?

Same issue :(